/**
 * PCBETA Space Style
 * Author by aa65535
 * LastModified 2014-04-10 02:50:59
 */

/**
 * [background image]
 */
html {
	background: url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201308/26/2309359pfa3akakr9sdae3.png') no-repeat, url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201208/25/001355eocaak7diaoc7aqj.jpg') repeat-y, radial-gradient(transparent 0px, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, transparent 33%), radial-gradient(transparent 0px, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, transparent 14%), radial-gradient(transparent 0px, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, transparent 20%), radial-gradient(transparent 0px, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, transparent 14%), radial-gradient(transparent 0px, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, transparent 14%), radial-gradient(transparent 0px, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, transparent 14%), linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0B1284 50%, #760EA1 60%, #83096E 70%, #840B2A 80%, #B13E12 90%, #E27412 100%) !important;
	background-position: right bottom, center 115px, 0 0, 0 0, 0 110px, -130px -170px, 130px 370px, 0 0, 0 0 !important;
	-webkit-background-size: auto auto, auto auto, 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100% !important;
	-moz-background-size: auto auto, auto auto, 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100% !important;
	background-size: auto auto, auto auto, 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100% !important;
	background-color: #840B2A !important;
	min-height: 100%;
}
body {
	background: transparent url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201208/25/0013563t8m7ur5zsvrvi8m.jpg') no-repeat center 0 !important;
	text-shadow: 0 0 10px #FFF;
	color: #000 !important;
	font: 12px tahoma,'Hiragino Sans GB','Wenquanyi Micro Hei','\5FAE\8F6F\96C5\9ED1',Arial,Verdana,sans-serif;
	_display: none !important;
}
#hd {
	background: transparent url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201208/26/0208028n00tc70vvzc6umk.png') no-repeat 0 19px !important;
	height: 115px !important;
	text-shadow: none;
	position: relative !important;
	border: 0 !important;
}

/**
 * [top shadow]
 */
html:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	z-index: 100;
}

/**
 * IE block
 */
html.ie5, html.ie6, html.ie7, html.ie8, html.ie9 {
	background: #FFF url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201305/02/002343gteg8071y0117b1e.gif') no-repeat fixed center center !important;
}
html.ie5 #space, html.ie6 #space, html.ie7 #space, html.ie8 #space, html.ie9 #space {
	display: none !important;
}

/**
 * [magicreceivegift party]
 */
#magicreceivegift {
	position: fixed !important;
	top: auto !important;
	right: -32px;
	bottom: 50% !important;
	height: 83px;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-animation: gift 3s !important;
	-moz-animation: gift 3s !important;
	-ms-animation: gift 3s !important;
	-o-animation: gift 3s !important;
	animation: gift 3s !important;
	background: transparent url('http://static.cdn.pcbeta.com/data/attachment/album/201312/07/235827mb2bxsutztlwmlcs.png') no-repeat 0% center !important;
}
#magicreceivegift:hover {
	-webkit-transform: translateX(-33px);
	-moz-transform: translateX(-33px);
	-o-transform: translateX(-33px);
	-ms-transform: translateX(-33px);
	transform: translateX(-33px);
}
#magicreceivegift img {
	width: 74px;
	height: 83px;
	filter: alpha(opacity=0);
	opacity: 0;
}
/**
 * [gift animation]
 */
@keyframes gift {
	0% {
		width: 32px;
	}
	50% {
		width: 107px;
	}
	100% {
		width: 74px;
	};
}
@-moz-keyframes gift {
	0% {
		width: 32px;
	}
	50% {
		width: 107px;
	}
	100% {
		width: 74px;
	};
}
@-webkit-keyframes gift {
	0% {
		width: 32px;
	}
	50% {
		width: 107px;
	}
	100% {
		width: 74px;
	};
}
@-ms-keyframes gift {
	0% {
		width: 32px;
	}
	50% {
		width: 107px;
	}
	100% {
		width: 74px;
	};
}
@-o-keyframes gift {
	0% {
		width: 32px;
	}
	50% {
		width: 107px;
	}
	100% {
		width: 74px;
	};
}

/**
 * [thread list hide]
 */
.bm .bm_c .tl {
	height: 523px;
	background: transparent url('http://cdn.pcbeta.attachment.inimc.com/data/attachment/album/201302/01/025040lczsmz85acec0r70.jpg') no-repeat center 0 !important;
}

/**
 * [navigation]
 */
#nv {
	left: 0 !important;
	padding-left: 0 !important;
	position: absolute !important;
	bottom: 0 !important;
}
#nv li {
	background: rgba(255, 255, 255, 0.6) !important;
	font-weight: 700 !important;
}
#nv li, .ml li, .mlp img, .mla .c a,#comment dt {
	padding: 0 !important;
}
#nv li a {
	height: 31px !important;
	line-height: 31px !important;
}
#nv li:hover {
	background-color: rgba(255, 0, 255, 0.7) !important;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}
#nv a:hover {
	color: #FFF !important;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
	-ms-transition: color 1s ease;
	transition: color 1s ease;
}
#nv a:active {
	color: #1FFF00 !important;
}
#nv li a, a:hover, .xg1 a:hover, #statistic_content .xi1 {
	color: #F0F !important;
}
#nv a {
	padding: 0 26px !important;
}

td.m_c, .p_pop.facel {
	background: rgba(255, 255, 255, 0.7) !important;
}

/**
 * [content]
 */
#ct {
	margin-bottom: 25px;
	/*min-height: 2007px !important;*/;
}
#ct.wp.cl, .avt img, .bm_h {
	background: rgba(255, 255, 255, 0.4) !important;
}

.bm .bm_c, #ct .move-span .blocktitle, .tl tr:hover th, .tl tr:hover td, .albim_pic_title {
	background: rgba(255, 255, 255, 0.3) !important;
}

/**
 * [selection style]
 */
::selection {
	color: #F0F !important;
	background: rgba(1, 1, 1, 0) !important;
}
::-moz-selection {
	color: #F0F !important;
	background: rgba(1, 1, 1, 0) !important;
}

/**
 * [clear background]
 */
.o.pns, .ct2 .mn, .mm, .bm, .tedt .area, textarea, input, button, #pcd .hm img, #comment dt,.pt.hm, .mlp img, .frame, .frame-tab, #nv li a:hover, .bm_c.u_profile {
	background: none !important;
}

/**
 * [reset font color]
 */
.pns .pnc, a, .block .title {
	color: #233F93 !important;
}
.xg1.xw0, .xg1, .xg1 a {
	color: #444 !important;
}

#music_content {
	padding: 0 10px !important;
}

button, .pt, .mla li, .mlp li {
	border: 1px solid #009ad9 !important;
}

#pcd .hm img, #comment dt, .tedt, body, .tedt .area {
	border: 0 !important;
}

/**
 * [hide elements]
 */
#toptb, .hm .mbn, .md_ctrl, .focus, .ct2 .sd, #spaceinfoshow, .xg2, .gol, iframe, .ct_vw_sd, .tl #delform, #radio, #wall .title .y, #weixinqr, #ft {
	display: none !important;
}

/**
 * [comment party]
 */
#comment_ul.el {
	height: 1610px !important;
	overflow: hidden !important;
	padding-left: 5px;
}
#comment_ul dl {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
#comment_ul dl:hover {
	margin-left: 20px;
}
#comment_ul dd {
	max-height: 350px;
	overflow-y: auto;
}

#trace_ul li {
	padding: 10px 4px !important;
}

.bm_c, .mls li {
	padding: 10px 10px !important;
}

/**
 * [main avatar style]
 */
#profile_content .hm {
	height: 501px !important;
	width: 450px !important;
}
#profile_content .hm img {
	-webkit-filter: grayscale(0.2);
}
#profile_content .hm img:hover {
	-webkit-filter: grayscale(0);
}

.ct2 .mn, .ct_vw_mn {
	float: none !important;
	width: auto !important;
}

.xl2 li {
	width: 24% !important;
	height: 18px !important;
}

/**
 * [ul_list background image]
 */
.ul_diy a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAASFBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP+oX8rvAAAAF3RSTlMAEKAg0OBgMM+QQO9Q3/BwwI9/gJ9vrx09wm0AAAB6SURBVHhebc85EsMwDATBAUHw0Ol7//9TByxbCjRZB4sqcNnUlBzsUQCwu7ID3AIWIEtPAFPDZ+wtaTVgktoahFLZbg50SerUcNzai6LY98Kobio1G0eLtHDOi+Z6clqta7bD2ipJzf6OCmR9fh73LauPwTB4TBeffwHsDATj+FifXAAAAABJRU5ErkJggg==') !important;
}
.ul_msg a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8Vv075AAAAEXRSTlMAwD+AMPBQcOAgEKBg75/PkIdP738AAABZSURBVHhehctJDsQgDAXRb2wzZOr2/S8bwAkim+QtSyq4JTiBK7tdDg/JBg88B6nnHNZaaQ72EdTDRo1aptjDLzRFlAHYwJAEQEeI6CJlU6r+uLEKHpLgzQkvzQg94YUhGQAAAABJRU5ErkJggg==') !important;
}
.ul_avt a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAQlBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8aGWHeAAAAFXRSTlMAQCCQEMDvv4CgUJ8w8D/Pf2Bwr+DBeQyBAAAAV0lEQVR4Xl3KSRKDMAwFUeERzDik739VcFIVyX47tb78hM2J5YEcNJxUk4aRKprQL3y/KFReVARWMQbgssEBRVS4gd3930eiSvPyPWdUftOHhgh9GFryAI5YCDovJUNOAAAAAElFTkSuQmCC') !important;
}
.ul_profile a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAP1BMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8XTy33AAAAFHRSTlMAgEA/fxDAMJC/0F+g759gUM/gcGmq2IIAAABjSURBVHheZc7XCgMxDETRsZSRy7aU+f9vDQQvCOc8XlDBH26PZCOGMr2g3ZJdUEFSfiEkGZ46OEM1M6JJNkPrvVd8JN4hIir4brhH3J2wozMvNUkxw3L29OTU+voAr5JcxOoLzlUHFk4saH4AAAAASUVORK5CYII=') !important;
}
.ul_magicgift div {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAp0lEQVQ4T2NkwAP+M/x3AEr/Z2RgPIhLGSM2CaDGBqB4PhBfhMobAOkJQINA4igAlwEHgKoagBpANAPUJSA+yEWoBgAlA6C2LYTKxANpkI0PgPgDVEwASCsA8QUgRlY3kRFoAEgRPxA3QhXXo9uCxkdW9wFkwH+oAnIMYBg1gGE0DIAJCJQOFgBpUPIlJyEtBGcmoCGgtA9L96A0jw+A8ggICAAz1wUAlGdVzw4sRHEAAAAASUVORK5CYII=') no-repeat 0 50% !important;
}
.ul_add a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAASFBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP+oX8rvAAAAF3RSTlMAQMC/gCAwEFCwkNBgcKA/8N/gz4/vn2azJJAAAABpSURBVHhebcxbCgMxDENRxx4nmWff1f53WkdQPJTezwOSjNrF5dwCwFrCjtGRMBH0F+aA4oSZsAZgInTCkiBrwFU2M9zMBpSAXTZV3JXfNaBLTpoFPPwL9fkCe1cp1MxcCJn+hXKqBnwAa1sJgtTXkXEAAAAASUVORK5CYII=') !important;
}
.ul_poke a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAATlBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8YK53/AAAAGXRSTlMAIGDg7zCgUBCAX0CQn8DQ8HDff7+wTz+vJ9MFiwAAAG9JREFUeF5tzlkOwyAQA1CbJSwhW3ff/6JF0DRVlfdna0YyztBN1xxxGFQ5/5Oby35DfRR0Rjv+FwOaUV+hFVGHW2sWVbYEwtsRValxy6Z9s+9Iya0EgjN9hwnz3YPT2jK8HozP/NJMdMlKWhJx7g0OXQkqVUZgugAAAABJRU5ErkJggg==') !important;
}
.ul_pm a {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAOVBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP/j6oauAAAAEnRSTlMAQMC/EN9g8IDvX3Cg4FCwr3+Q97wbAAAAUUlEQVR4Xp3ISRaAIAwE0UabADKouf9h1Tg8Nm6oXX0MxHXu2gi0ql+1ASQk3BvkOpd2MJ4UIhGTg1P1C5gzIV7VwMj2ASPbF6xfYJm6CgY6AFxvBoV6P5bWAAAAAElFTkSuQmCC') !important;
}

/**
 * [blockquote icon]
 */
.quote {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAM1BMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP/jQXrmAAAAEHRSTlMAQBCg0OAggDCw8M/vYJ+Q6Idm7QAAAEpJREFUeF6lzjkOgEAMQ1HHybAvvv9pGSMqRMdrvtwZHyY+I3rGTQ54SEBqmQevVS2xqwhLZU9pgFHNUcEQOh1ZeNqvGUaAYa/3F5mIBIf74tnvAAAAAElFTkSuQmCC') no-repeat 0 0;
}
.quote blockquote {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAOVBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP/j6oauAAAAEnRSTlMAQD8QoDDfIOCfwM9g0K/v8IC/8R6ZAAAASUlEQVR4XqXIORLAIAxDURkbyL7o/oeNNXRJmddovvBiJTngRUAxwCi/MoVSJqU3jqpcsmYGpK/cEI27K45TNxkqGK9bg8Ervh5r6QU161OpEQAAAABJRU5ErkJggg==') no-repeat 100% 100%;
}

/**
 * [Custom Icon]
 */
#profile .title a:before, #music .title span:before, #personalinfo .title a:before, #statistic .title span:before, #visitor .title span:before, #friend .title a:before, #wall .title a:before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right: 4px;
	vertical-align: sub;
}
#profile .title a:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAQlBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8aGWHeAAAAFXRSTlMAEIB/0FAgMO9w4MCgb0+P32DwkM+QvXngAAAAbElEQVR4Xm2PSQ7DQBACwbN7dxL+/9WMuqVWDqkLqMQF/IVHmhwM8ZYxYnC7uG2yyFhXzwUWWwXqJuWXTGQwJSIrfVwUdqmzSHLhtTBEbZq0GmJgl3aMEL2BROshpOs8L2/IFkEGn+WHJw4GX6iTC2z8JPSpAAAAAElFTkSuQmCC');
}
#music .title span:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAP1BMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8XTy33AAAAFHRSTlMAgEBQMKDP4GAgwHBf8I9PEO9v0EuHlEEAAABUSURBVHherY45FoAwCAXxQzbjLvc/q1CYR2HpNDDTAAVw8RBZtqyq0+urGjHoRyipSgj98BEC6JfAeZzFbqGd44/ZNhDUaO7sG7wXJkfMb4r0VIM94psFXsSjFe0AAAAASUVORK5CYII=');
}
#personalinfo .title a:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAP1BMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8XTy33AAAAFHRSTlMAgEA/fxDAMJC/0F+g759gUM/gcGmq2IIAAABjSURBVHheZc7XCgMxDETRsZSRy7aU+f9vDQQvCOc8XlDBH26PZCOGMr2g3ZJdUEFSfiEkGZ46OEM1M6JJNkPrvVd8JN4hIir4brhH3J2wozMvNUkxw3L29OTU+voAr5JcxOoLzlUHFk4saH4AAAAASUVORK5CYII=');
}
#statistic .title span:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAPFBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP+SO0ZQAAAAE3RSTlMAQMDfIDDgUKB/EK+AsNBPcM+fG+bCiQAAAIFJREFUeF5NjgsKxDAIBV80an7bz3r/u67bJqVDCDIyICB4IfGca75FruyC5B/3vgPWPcYUAnmoM7uOjFsEpmoApigCEAHynWLomYnyqeNJ7C/sSQx3Apti49qIWuVtJVKEKL6Z7FgJLATKdTvRdXlB0A71ztxdj4ZJKu4l4U1byx/2lgVLFAPC5QAAAABJRU5ErkJggg==');
}
#visitor .title span:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAP1BMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP8XTy33AAAAFHRSTlMAwBBAgKDfIO8wYPBwkOB/UL+vnwm6F7sAAABiSURBVHhedc3rDsIwCEBhpLX3dVPP+z+rIZuGbHp+fhCQH+mT1DzcAbKDG0CQmkrzYM4fGMBUB9ohimywfN7sT6AeMKGJVBhihQfAqho7r2D7e2XV3O0M35INiwMkAlc49wbhrQj96sBI8QAAAABJRU5ErkJggg==');
}
#friend .title a:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP9iCewGAAAAD3RSTlMAYBB/MMDwz1Cg75CAX3CNGEWqAAAAWElEQVR4Xm3MsQmAMBQA0TMoCIKktjE7ZAEra4dwD91E3MQRXMVGSfXl+wubXPWqI1MRg4snuEX2Tp5AI18HlWH6URtW2BQJaBUeoBe57Ci3R2OcscqBXC8Jgy9AG1pRKwAAAABJRU5ErkJggg==');
}
#wall .title a:before {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAALVBMVEUAAAD/AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP//AP9qNfvlAAAADnRSTlMAgH9A8BAwcCBfYFCgwIAr+1IAAABJSURBVHhejcaxDYAgEEDRTwhoyQx21hfXoHEBR3AEZnEGF3EHS8MMiNde4asehmN6zeDrZ8Np0q8Mmp0x99wFVjkfWejChSJiaZnqMmtKxu+/AAAAAElFTkSuQmCC');
}

/**
 * [member small avatar]
 */
.avt img {
	padding: 1px !important;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid transparent !important;
}
.mls .avt img {
	padding: 1px !important;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-ms-transition-duration: .3s;
	transition-duration: .3s;
}
.mls .avt img:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.mls li {
	height: 69px;
}

/**
 * [login tips]
 */
.pt.hm {
	height: 60px !important;
	line-height: 60px !important;
}

/**
 * [profile page]
 */
.mbm {
	margin: 0 !important;
}
.pbm {
	padding: 0 !important;
}
.u_profile, .u_profile em, .u_profile .xg1 {
	color: #C00 !important;
	font-weight: 700;
}
.u_profile li {
	padding: 3px 0 !important;
	clear: both !important;
}
.u_profile li em {
	display: inline-table !important;
	width: 75px !important;
	float: left !important;
	padding-right: 10px !important;
}
.pf_l li {
	width: 450px !important;
}
#pbbs li, #psts li, #pntc li {
	clear: none !important;
}
#psts, .pbm.mbm.bbda.cl {
	padding-bottom: 10px !important;
	margin-bottom: 10px !important;
}
.pbm.mbm.bbda.cl img {
	opacity: 0.4;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
.pbm.mbm.bbda.cl img:hover {
	opacity: 1;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-ms-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/**
 * [album page]
 */
#ct .mlp, #ct .mla {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flex !important;
	display: flex !important;
	-webkit-flex-wrap: wrap !important;
	-moz-flex-wrap: wrap !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	width: 950px;
}
.mla .c {
	background: none !important;
	width: auto !important;
	height: 120px !important;
}
.mla .c a {
	width: auto !important;
}
.mlp li, .mla li {
	width: auto !important;
	height: auto !important;
	-webkit-flex: auto;
	-moz-flex: auto;
	-ms-flex: auto;
	flex: auto;
	margin: 5px;
}
.mlp img, .mla img {
	height: 120px !important;
	max-width: 936px !important;
	border: 0 !important;
}

#photo_pic div {
	opacity: 0.5;
}

.atd td {
	padding: 30px 40px 10px !important;
}

/**
 * [scrolltop button style]
 */
#scrolltop {
	left: auto !important;
	right: 50px !important;
	right: calc(50% - 530px) !important;
	width: 32px !important;
	height: 32px !important;
	bottom: 90px !important;
	margin: 0 !important;
	background: none !important;
	border: 3px solid #FF69B4;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
#scrolltop:before {
	content: "";
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: -3px;
	left: 6px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #FF69B4 transparent;
}
#scrolltop:after {
	content: "";
	width: 20px;
	height: 3px;
	display: block;
	position: absolute;
	top: 20px;
	left: 6px;
	background: #FF69B4;
}
#scrolltop:hover {
	border: 3px solid #F0F;
}
#scrolltop:hover::before {
	border-color: transparent transparent #F0F transparent;
}
#scrolltop:hover::after {
	background: #F0F;
}


/**
 * [Custom Style]
 */
textarea:focus, input:focus {
	outline: none !important;
}

#blog82 {
	text-align: center;
}

.tl #delform {
	pointer-events: none !important;
}

.atd .atdc {
	filter: alpha(opacity=60);
	opacity: 0.6;
}

/**
 * [Page Style]
 */
/*
.pg strong {
	background-color: rgba(255, 0, 255, 0.7) !important;
}
.pg a {
	color: #F0F !important;
}
.pg a:hover {
	background-color: rgba(255, 0, 255, 0.7) !important;
	color: #FFF !important;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	text-shadow: none;
}
*/
/**
 * [scrollbar]
 */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-thumb {
	background: #FF69B4;
}
::-webkit-scrollbar-thumb:hover, .t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r {
	background: #F0F !important;
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track-piece {
	background: #DFDFDF;
}
